php_value upload_max_filesize "512M"
php_value post_max_size "512M"
php_value max_file_uploads 256
php_value error_reporting 22527

RewriteEngine on

RewriteCond %{REQUEST_FILENAME} ^/admin
RewriteRule . ../admin/index.php [L]

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_URI} /img/flags/.*$
RewriteRule . /img/flags/missing.png [L]

# if a directory or a file exists, use it directly

RewriteCond %{REQUEST_FILENAME} !-f [OR]
RewriteCond %{REQUEST_FILENAME} /\..*$
RewriteCond %{REQUEST_FILENAME} !-d [OR]
RewriteCond %{REQUEST_FILENAME} /\..*$

# otherwise forward it to index.php
RewriteRule . index.php

php_value error_reporting 22527
